<div class="body">
    <div class="container">
  
      
      <!-- Barra superior -->
      <nav class="navbar">
        <div class="menu-pc">
          <ul>
            <li><a class="menu" (click)="inicio()">Inicio</a></li>
            <li><a class="menu" (click)="servicios()">Servicios</a></li>
            <li><a class="menu" (click)="proyectos()">Proyectos</a></li>
            <li><a class="menu" (click)="contacto()" >Contacto</a></li>
          </ul>
        </div>
        <div class="menu-toggle"  (click)="toggleMenu()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
  
        
      </nav>
      <div class="desplegable" [ngClass]="{ 'active': isMenuOpen }">
        <ul>
          <li><a class="menu" (click)="inicio()">Inicio</a></li>
          <li><a class="menu" (click)="servicios()">Servicios</a></li>
          <li><a class="menu" (click)="proyectos()">Proyectos</a></li>
          <li><a class="menu" (click)="contacto()" >Contacto</a></li>
        </ul>
      </div>
      <!-- Contenido principal -->
      <main class="content">
        <div class="services-container">
            <div class="service-box">
              <h3>Páginas Web</h3>
              <p>Desarrollo de páginas web modernas, funcionales y adaptadas a las necesidades de tu negocio.</p>
            </div>
            <div class="service-box">
              <h3>Sistema de Gestión de Inventarios</h3>
              <p>Crea un sistema robusto para administrar tus inventarios de manera eficiente y en tiempo real.</p>
            </div>
            <div class="service-box">
              <h3>Soluciones a Medida</h3>
              <p>Desarrollo de aplicaciones personalizadas utilizando Python, Django y Angular, adaptadas a tus necesidades específicas.</p>
            </div>
          </div>
          
      </main>
    </div>
  </div>
  
