<app-navbar></app-navbar>

<!-- Contenido principal -->
<main class="content contacto-page">
  <div class="titulo-seccion">
      <h1>Contáctame</h1>
      <p class="subtitulo">¿Hablamos? Encuéntrame en estas plataformas</p>
  </div>

  <div class="contact-grid">
    
    <!-- Correo -->
    <a href="mailto:nbravo.nicob@gmail.com" class="contact-card">
      <div class="icon-circle">
        <span class="material-icons">email</span>
      </div>
      <h3>Correo Electrónico</h3>
      <p>nbravo.nicob&#64;gmail.com</p>
    </a>

    <!-- LinkedIn -->
    <a href="https://www.linkedin.com/in/nicolasbravoguzmananalistaprogramador/" target="_blank" rel="noopener noreferrer" class="contact-card">
      <div class="icon-circle">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linkedin/linkedin-original.svg" alt="LinkedIn Logo" class="brand-icon">
      </div>
      <h3>LinkedIn</h3>
      <p>Conecta conmigo profesionalmente</p>
    </a>

    <!-- GitHub -->
    <a href="https://github.com/TheN1c0" target="_blank" rel="noopener noreferrer" class="contact-card">
      <div class="icon-circle">
        <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/github/github-original.svg" alt="GitHub Logo" class="brand-icon github-icon">
      </div>
      <h3>GitHub</h3>
      <p>Explora mi código fuente</p>
    </a>

  </div>
</main>