<div class="body">
  <div class="container">


    <app-navbar></app-navbar>
    <!-- Contenido principal -->
    <main class="content">
      <h1>Contactame</h1>
      <div id="contactos">
        <p>
          Correo: <br>nico01062000&#64;gmail.com
        </p>
        <p>
          Linkedin:
          <a href="https://www.linkedin.com/in/nicolasbravoguzmananalistaprogramador/" target="_blank"
            rel="noopener noreferrer">
            <br><img id="img-linkedin" [src]="imagenlinkedin" alt="Mi Portafolio">
          </a>
        </p>
        <p>
          GitHub:
          <br><a href="https://github.com/TheN1c0" target="_blank" rel="noopener noreferrer">
            <img id="img-linkedin" [src]="imagengithub" alt="IMAGEN GitHub">
          </a>
        </p>
      </div>
    </main>
  </div>
</div>