<nav class="navbar">
    <div class="brand">
        <div class="logo-box">
            <img src="logosinfondo.png" alt="Bravo-Bytes Logo" class="brand-logo-img">
        </div>
        <span class="brand-name">BRAVO-BYTES</span>
    </div>

    <div class="menu-pc" [class.open]="isMenuOpen">
        <ul>
            <li><a class="menu" (click)="inicio(); isMenuOpen = false">Inicio</a></li>
            <li><a class="menu" data-onboarding="projects" (click)="proyectos(); isMenuOpen = false">Productos</a></li>
            <li><a class="menu btn-cta" (click)="contacto(); isMenuOpen = false">Hablemos</a></li>
        </ul>
    </div>

    <div class="hamburger" id="menuBtn" [class.active]="isMenuOpen" (click)="toggleMenu()">
        <span></span>
        <span></span>
        <span></span>
    </div>
</nav>