<div class="body">
    <div class="container">
      
      <nav class="navbar">
        <div class="menu-pc">
          <ul>
            <li><a class="menu" (click)="inicio()">Inicio</a></li>
            <li><a class="menu" (click)="servicios()">Servicios</a></li>
            <li><a class="menu" (click)="proyectos()">Proyectos</a></li>
            <li><a class="menu" (click)="contacto()" >Contacto</a></li>
          </ul>
        </div>
        <div class="menu-toggle" (click)="toggleMenu()">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </div>
      </nav>
  
      <div class="desplegable" [ngClass]="{ 'active': isMenuOpen }">
        <ul>
          <li><a class="menu" (click)="inicio()">Inicio</a></li>
          <li><a class="menu" (click)="servicios()">Servicios</a></li>
          <li><a class="menu" (click)="proyectos()">Proyectos</a></li>
          <li><a class="menu" (click)="contacto()" >Contacto</a></li>
        </ul>
      </div>
  
      
      <main class="content">
        <div>
          <h1>Proximamente se publicarán blogs!!...</h1>
        </div>
      </main>
  
    </div> 
  </div> 
  
